@import "./fonts.scss";

body {
  margin: 0;
}

.app {
  width: 100%;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #707070;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #707070;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #707070;
}